<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Posts</title>
</head>
<body>

	<%= tokenObg.q %>
	<a id = "signOut" href = "/">Sign Out</a>
	<form>
		<input type="text" name="searchPerson" placeholder="Person">
		<button id = "findPerson">Find</button>
	</form>


	<form enctype="multipart/form-data" method="POST">
		<input type="file" name="filePost">
		<input type="text" name="text" placeholder="Twitt">
		<button id = "add_repost" type = "submit">Repost</button>
	</form>


	<form enctype="multipart/form-data" method="POST" id = "adds">
		<input type="file" name="uploadFileP" id = "filea">
		<input type="text" name="text" placeholder="Twitt" id = "textPost">
		<button type = "submit">Repost</button>
	</form>

		<div id="wrapper-posts">
			<% for(var i = 0; i < posts.length; i++){ %>
			<div class = "wrapper-post">
			<hr>
				<div class = "text-post">
					<%= posts[i].text %>
				</div>
				<% if( posts[i].picture){%>
				<div>
					<img src="../<%= posts[i].picture %>">
				</div>
				<%}%>
				<div post-id = "<%= posts[i]._id %>" class = "likesPost">
					<%= posts[i].likes %>
				</div>

				<div data-id = "<%= posts[i]._id %>" class = "deletePost">Delete</div>
				<input type="text" id="comment" placeholder="Comment">
				<button id = "SernComment" post-id = <%= posts[i]._id %>>Send</button>
				<% for(var j = 0; j < posts[i].comments.length; j++){ %>
									<div>
										<h1><%= posts[i].comments[j].textComment %></h1>
										<div comment-id= "<%= posts[i].comments[j]._id %>" post-id = "<%= posts[i]._id %>" class = "likes">
										<%= posts[i].comments[j].likes %></div>
										<div comment-id= "<%= posts[i].comments[j]._id %>" post-id = "<%= posts[i]._id %>" class = "delete">Delete Comment</div>
										</div>
					<% } %>
									</div>
				<% } %>
			</div>
	<hr>
	<div id="regomendation">
		<input type="text" id="owntages">
		<button id = "bowntags">Add my tag</button>
		<input type="text" id="tag">
		<button id = "btag">Add search tag</button>
		<hr>
	</div>
	<div>
	<form enctype="multipart/form-data" method="POST" action="/uploads">	
		<input type="file" id = "uploadFile" name = "uploadFile" accept="image/*" />
		<button id="uploadAvatar" type="submit">Submit</button>
	</form>

	<form enctype="multipart/form-data" method="POST" action="/uploads/bg">	
		<input type="file" id = "uploadFileBg" name = "uploadFileBg" accept="image/*" />
		<button id="uploadAvatarBg" type="submit">Submit</button>
	</form>
	</div>
	<img src="../<%= path %>">
	<img src="../<%= pathBg %>">

	<div id="dialogs">
	Dialogs
		<% for(var i = 0; i < dialogs.length; i++){ %>
		<a href="/chat/?dialog=<%= dialogs[i] %>">Диалог1</a>
		<% } %>
	</div>
		<div style= "display:none" id = "template">
			<div class = "wrapper-post" >
				<div class = "text-post"></div>
				<div data-id = "" class = "deletePost">Delete</div>
			</div>
		</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./client.js"></script>
</body>
</html>
