<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../stylesheets/screen.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="topmenu">
  <div class="user-title">
    <a href="/">
      Home
    </a>
  </div>
  <div class = "nav-block-userpage">
    <ul class="nav-userpage">
      <li type="button"  data-toggle="modal" data-target="#myModalNews" id = "loadNews"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>Notifications</li>
      <li type="button"  data-toggle="modal" data-target="#myModal" id = "loadDialogs"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Messages</li>
    </ul>
  </div>
  <div class = "form-searchPerson-block">
    <form>
      <input type="text" name="searchPerson" placeholder="Person" >
      <button id = "findPerson"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </form>

  </div>
  <div class = "nav-menu-dropdown-setting">
  <div>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  <ul>
    <li><a id = "signOut" href = "/">Sign Out</a></li>
    <li><a href="/setting">Setting</a></li>
  </ul>
  </div>
  
  </div>
</div>
<div id="wrapper-dialog-msg">
<div id="messages">
    <% for(var i = 0; i < dialog.msg.length; i++) { %>
    <div class="wrapper-dialog-msg">
      <% if(dialog.msg[i].author == author){ %>
        <button class = "del" data-id = "<%= dialog.msg[i]._id%>">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      <div class = "author"><a href="../userpage"><%= authorName %></a></div>
      <div class = text-date><%= dialog.msg[i].datem %></div>
      <div class = text-messege><%= dialog.msg[i].text %></div>
      <% if(dialog.status == true && i == dialog.msg.length-1){ %>
        <div class = "new">Not read</div>
      <% } %>
      <% } else {%>
        <div class = author><a href="../userpage/<%= username %>"><%= username %></a></div>
      <div class = text-date><%= dialog.msg[i].datem %></div>
      <div class = text-messege><%= dialog.msg[i].text %></div>
      <% if(dialog.status == true && i == dialog.msg.length-1){ %>
        <div class = "new">new</div>
      <% } %>

      <% } %>
    </div>
    <% } %>
</div>
</div>
<form action=" " id = "form-send-msg">
	<input type="text" id="m" placeholder="Message">
	<button>
      <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
  </button>
	
</form>

<div id="wrapper-msg-template" style = "display:none">
<div class="wrapper-dialog-msg">  
      
      <button class="del" data-id>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
      <div class="author"><a href="../userpage" link></a></div>
      <div class="text-data" data></div>
      <div class="text-messege" msg-text></div>
      
        <div noread></div>
      
</div>
</div>

<div class="modal fade" id="myModalNews" tabindex="-1" role="new" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Dialogs</h4>
      </div>
      <div class="modal-body">
      <ul class="nav nav-tabs" role="tablist">
         <li role="presentation" class="active"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
         <li role="presentation"><a href="#likes" aria-controls="likes" role="tab" data-toggle="tab">Likes</a></li>
         <li role="presentation"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a></li>
       </ul>


       <div id="templateNewsWrapper">
          <div> 
          <div class="img-wrapper-news" img-wrapper-news>
            <img src="" alt="" img-href >
          </div>
          <div class="username-wapper-news" username-wapper-news>
            <a href="" a-href></a>
          </div>
          <div class="date-wrapper-news" date-wrapper-news> </div>
          <div class="text-wrapper-text" text-wrapper-text> </div>
          </div>  
       </div>
  <div class="tab-content">
      
      <div role="tabpanel" class="tab-pane active" id="comments">
        <div id="wrapperNewsComments">
        
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="likes">
        <div id="wrapperNewsLikes"> 
        
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="posts">
        <div id="wrapperNewsPosts"> 
        
        </div>
      </div>
    </div>

     <div id="templateComments" style = "display:none">
      <div class="wrapper-comment">
        <div comment-id post-id class="delete">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
        <div class="author"><a href></a></div>
        <div class="data-block-comment"></div>
        <div class="text-comment-wrapper"></div>
        <div comment-id post-id class="likes">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </div>
      </div>
     </div>

  <div id="templateLoadPost" style = "display:none">
    <div class="wrapper-post">
        <div class="block-wrapper-content">
        <div class="wrapper-img-post">
          <img img-post-load>
        </div>
        <div data-id class="deletePost"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
          <div class="author"><a href=""></a></div>
          <div class="data-block-comment">
              
          </div>
          <div class="text-post">
            
          </div>

          <div class="post-img-content">
            <img src="">
          </div>
          
          <div post-id class="likesPost">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            0
          </div>

          
          <div class="wrapper-comment-form">
            <input type="text" id="comment" placeholder="Comment">
            <button id="SernComment" post-id><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></button>
          </div>
        </div>
  </div>
  </div>

      <div id="NewsWrapper">
        <div id = "templateNews" style = "display:none">
        <div>
          <!-- <div dialogPerson></div> -->
          <img src="" avatar>
          <a href = "" lastMessege></a>
          <div textMsg></div>
          </div>
        </div>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">News</h4>
      </div>
      <div class="modal-body">

      <div id="dialogWrapper">
        <div id = "templateDialog" style = "display:none">
        <div>
          <img src="" avatar>
          <a href = "" lastMessege></a>
          <div textMsg></div>
          <div dateMsg></div>
          </div>
        </div>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="../socket.io.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src = "../newsClient.js"></script>
<script>
$(function () {

  $.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results==null){
        return null;
    }
    else{
        return results[1] || 0;
    }
  }

    var val = $.urlParam('dialog');

    var socket = io();
    socket.emit('init',val);

    function getCookie(name) {
        var matches = document.cookie.match(new RegExp("(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }
    var authorT = '<%= authorName %>';
    console.log(authorT);
    var token = getCookie("token");


    $('form').submit(function(){
    socket.emit('chat message',{'mess': $('#m').val(),'room':val,'token':token});
    $('#m').val('');
    return false;
    });


    socket.on('chat message', function(msg){
        var $msgTemplate = $('#wrapper-msg-template > div').clone();

        $msgTemplate.find("[link]").text(msg.author);
        $msgTemplate.find("[link]").attr("href",);
        $msgTemplate.find("[msg-text]").text(msg.mess);
        $msgTemplate.find("[data]").text(msg.data);
        $msgTemplate.find("[noread]").text('Not read');
        if(authorT == msg.author){
          $msgTemplate.find("[data-id]").attr("data-id",msg.id);
          $msgTemplate.find("[noread]").attr('class','new');
        }else{
          $msgTemplate.find("[data-id]").remove();

          $msgTemplate.find("[noread]").attr('class','new');
          $msgTemplate.find("[msg-text]").mousemove(function(){

              if($('.new').is(':visible')){
                  socket.emit('status',val);
              }

          });
        }

        $('#messages').append($msgTemplate);
        $('.del').click(function(){
        var id = $(this).attr("data-id");
        socket.emit('delete', id,val);
        $(this).parent().remove();
        });
        console.log(msg);
    });


    socket.on('messages', function(dialogs){
    console.log(dialogs);

    dialogs.forEach(function(el){
        socket.off('messages');
        $('#messages').append("<button class = 'del' data-id = "+ el._id +">Delete</button>").append($('<li>').text(el.text));
        });
        $('.del').click(function(){
        var id = $(this).attr("data-id");
        socket.emit('delete', id,val);
        $(this).parent().remove();
        });
        });

        socket.on('hide',function(){
          $('.new').hide();
          $('.notread').hide();
        });

        });

</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../client.js"></script>
</body>
</html>