<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../stylesheets/screen.css">
</head>
<body>

	<div class="topmenu">
		<div class="user-title">
			<a href="/userpage">
				<%= tokenObg.q %>
			</a>
		</div>
		<div class = "nav-block-userpage">
			<ul class="nav-userpage">
				<li><span class="glyphicon glyphicon-send" aria-hidden="true"></span>Notifications</li>
				<li type="button"  data-toggle="modal" data-target="#myModal" id = "loadDialogs"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Messages</li>
			</ul>
		</div>
		<div class = "form-searchPerson-block">
			<form>
				<input type="text" name="searchPerson" placeholder="Person" >
				<button id = "findPerson"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</form>
		</div>
		<div class = "nav-menu-dropdown-setting">
		<div>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		<ul>
			<li><a id = "signOut" href = "/">Sign Out</a></li>
			<li><a href="/setting">Setting</a></li>
		</ul>
		</div>
		
		</div>
	</div>
	<div class = "bg-userpage">	
		<div class = "wrapper-bg-content">
			<button id = "follow" class = "btn btn-primary" user-id = "<%= users._id %>"><%= done %></button>
		</div>
	<img src="../<%= pathBg %>">
	</div>
	<div class="wrapper-userpage">
	<div class="left-inform-user">
		<div class = "left-inform-user-top">	
			<div class="wrapper-img-avatar">
			<% if(!path){%>
					<img src="../uploads/noavatar.jpg">	
			<% } else {%>
				<img src="../<%= path %>">
			<% } %>
			</div>
			<div class="wrapper-username">
				<%= users.username %>
			</div>
			<div class="wrapper-location">	
				<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
				<% if(!users.location){%>
						Set<a href = "../setting"> here</a>
				<% } %>
				<%= users.location %>
			</div>
			<div class="wrapper-desript">	
				<%= users.describe %>
			</div>
			<div class="wrapper-date">	
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
				<%= users.created_at %>
			</div>
			<div class="wrapper-follow-length">	
				<span>I read :</span>
				<%= users.follow.length %>
			</div>
			<div class="wrapper-follower-length">
				<span>Followers : </span>	
				<%= users.follower.length %>
			</div>
		</div>	
		<div class = "left-inform-user-bottom">	
		<div class="title-block-recom">
			We recommend
		</div>
		<% if(recom.length == 0){%>
				<div>Set your tag<a href = "../setting"> here</a></div>
		<% } %>
			<% for(var i = 0; i < recom.length; i++){ %>
			<div class="wrapper-recom-item">
			<div class="wrapper-img-btn">
				<img src="..\<%= recom[i].pathAvatar %>">
			</div>
			<div class = "wrapper-left-infor-recom">
				<div class="wrapper-username">
				<a href="/userpage/<%= recom[i].username %>">
					<%= recom[i].username %>
				</a>
				</div>
				<div class="usersub">	
					<%= recom[i].describe %>
				</div>
			</div>
			</div>
			<% } %>
		</div>
	</div>
	<div class="right-wrapper-content">	
			
	<div class="title-block-recom">
		The Follows
	</div>
		<% if(follows.length == 0){%>
		<div>You don`t have following</div>
		<% } %>
		<% for(var i = 0; i < follows.length; i++) {%>
		<div class="wrapper-recom-item">
		<div class="wrapper-img-btn">
		<% if(!follows[i].pathAvatar){%>
				<img src="../uploads/noavatar.jpg">	
		<% } else {%>
			<img src="..\<%= follows[i].pathAvatar %>">
		<% } %>
		</div>
		<div class = "wrapper-left-infor-recom">
			<div class="wrapper-username">
			<a href="/userpage/<%= follows[i].username %>">
				<%= follows[i].username %>
			</a>
			</div>
			<div class="usersub">	
				<%= follows[i].describe %>
			</div>
		</div>
		</div>
		<% } %>
	</div>

	<!-- <form enctype="multipart/form-data" method="POST">
		<input type="file" name="filePost">
		<input type="text" name="text" placeholder="Twitt">
		<button id = "add_repost" type = "submit">Repost</button>
	</form> -->
<br>

	<!-- <form enctype="multipart/form-data" method="POST" id = "adds">
	<span>Do you want to add a post?</span>
		<input type="text" name="text" placeholder="Twitt" id = "textPost">
	<label class = fileContainer>
		<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
		<span id = "chosen"></span>
		<input type="file" name="uploadFileP" id = "filea">
	</label>
		<button type = "submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
</button>
	</form> -->

		<div id="wrapper-posts">
		<% if( posts.length == 0){%>
			<div class = "center">Empty</div>
		<% } %>
			<% for(var i = 0; i < posts.length; i++){ %>
			<div class = "wrapper-post">
			<div class="block-wrapper-content">
			<div class="wrapper-img-post">
				<img src="../<%= path %>">
			</div>
				<div class="author"><a href="/userpage/<%= posts[i].user_id %>"><%= posts[i].user_id %></a></div>
				<div class="data-block-comment">
					<%= posts[i].date %>
				</div>
				<div class = "text-post">
					<%= posts[i].text %>
				</div>
				<% if( posts[i].picture){%>
				<div class = "post-img-content">
					<img src="../<%= posts[i].picture %>">
				</div>
				<%}%>
				<div post-id = "<%= posts[i]._id %>" class = "likesPost">
					<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
					<%= posts[i].likes %>
				</div>

				
				<div class="wrapper-comment-form">
					<input type="text" id="comment" placeholder="Comment">
					<button id = "SernComment" post-id = <%= posts[i]._id %>><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></button>
				</div>
				</div>
				<% for(var j = 0; j < posts[i].comments.length; j++){ %>
									<div class = "wrapper-comment">
									<% if(tokenObg.q ==  posts[i].comments[j].user_id_who_comment){%>
										<div comment-id= "<%= posts[i].comments[j]._id %>" post-id = "<%= posts[i]._id %>" class = "delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
										<% } %>
										<div class = "author"><a href="/userpage/<%= posts[i].comments[j].user_id_who_comment %>"><%= posts[i].comments[j].user_id_who_comment %></a></div>
										<div class = "data-block-comment"><%= posts[i].comments[j].dataC %></div>
										<div class = "text-comment-wrapper"><%= posts[i].comments[j].textComment %></div>
										<div comment-id= "<%= posts[i].comments[j]._id %>" post-id = "<%= posts[i]._id %>" class = "likes">
												<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<%= posts[i].comments[j].likes %>

										</div>
										</div>
					<% } %>
									</div>
				<% } %>
			</div>
	<!-- <div id="regomendation">
		<input type="text" id="owntages">
		<button id = "bowntags">Add my tag</button>
		<input type="text" id="tag">
		<button id = "btag">Add search tag</button>
		<hr>
	</div>
	<div>
	<form enctype="multipart/form-data" method="POST" action="/uploads">	
		<input type="file" id = "uploadFile" name = "uploadFile" accept="image/*" />
		<button id="uploadAvatar" type="submit">Submit</button>
	</form>

	<form enctype="multipart/form-data" method="POST" action="/uploads/bg">	
		<input type="file" id = "uploadFileBg" name = "uploadFileBg" accept="image/*" />
		<button id="uploadAvatarBg" type="submit">Submit</button>
	</form> -->
	<!-- </div> -->
<!-- 	<img src="../<%= path %>">
	<img src="../<%= pathBg %>">
 -->
	<!-- <div id="dialogs">
	Dialogs
		<% for(var i = 0; i < dialogs.length; i++){ %>
		<a href="/chat/?dialog=<%= dialogs[i] %>">Диалог1</a>
		<% } %>
	</div> -->
		<div style= "display:none" id = "template">
			<div class = "wrapper-post" >
				<div class = "text-post"></div>
				<div data-id = "" class = "deletePost">Delete</div>
			</div>
		</div>
		</div>




		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Dialogs</h4>
		      </div>
		      <div class="modal-body">
		      <div id="dialogWrapper">
		        <div id = "templateDialog" style = "display:none">
		        <div>
		        	<!-- <div dialogPerson></div> -->
		        	<img src="" avatar>
		        	<a href = "" lastMessege></a>
		        	<div textMsg></div>
		        	</div>
		        </div>
		       </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../client.js"></script>
</body>
</html>
